@import '_color.scss';
@import '~element-ui/packages/theme-chalk/src/common/var.scss';


$--color-purple: #8338ec;
$--color-pink: #ffb3c1;
$--color-blue: #3a86ff;
$--color-green: #76c893;
$--color-yellow: #ffd166;
$--color-red: #ef476f;
$--color-orange: #e85d04;