@import '_variables.scss';

/* icon font，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

$--card-border-color: $--border-color-base;
$--collapse-border-color: $--color-primary;
$--popover-title-font-color: $--color-primary;

$--input-border-radius: 10em;

@import '~element-ui/packages/theme-chalk/src/index.scss'
