@import '_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import 'q-class.scss';

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1em;
}
p {
    font-size: 1em;
}
button {
    background-color: transparent;
    border: none;
}

.color-primary {
    color: $--color-primary;
}

.font-logo {
    font-family: 'Bungee Shade', cursive;
}

// $colors: 'purple', 'pink', 'blue','green', 'yellow', 'red', 'orange';

$colors: (
  "purple": $--color-purple,
  "pink": $--color-pink,
  "blue": $--color-blue,
  "green": $--color-green,
  "yellow": $--color-yellow,
  "red": $--color-red,
  "orange": $--color-orange,
);

@each $key, $color in $colors {
    .#{$key} {
        color: $color;
    }
    .bg-#{$key} {
        background-color: $color;
    }
}
  
// .purple {
//     color: $--color-purple;
// }
// .pink {
//     color: $--color-purple;
// }
// .green {}
// .yellow {}
// .red {}
// .orange {}
* {
    // outline: 1px solid red;
}