<template>
  <div class="base-header">
    <div class="base-header__bar-item">
      <slot />
    </div>
    <div class="base-header__bar-item">
      <Search />

      <DotPopover />

      <UserMenu />
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import DotPopover from './DotPopover.vue'
import UserMenu from './UserMenu.vue'
import Search from './Search.vue'

export default Vue.extend({
  name: 'BaseHeader',
  components: {
    Search,
    DotPopover,
    UserMenu
  },
  data () {
    return {
    }
  },
  computed: {
  },
  methods: {}
})
</script>

<style lang="scss">
.base-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__bar-item {
    display: flex;
    align-items: center;
    gap: 1.2em;
  }
}
</style>
