<template>
  <el-popover
    trigger="click"
    placement="bottom-end"
    transition="el-zoom-in-top"
    @show="onPopoverAfterEnter"
  >
    <NoticeSimple ref="CNotice" />

    <button slot="reference" class="base-header__dot-popover">
      <el-badge :is-dot="isDot">
        <i :class="icon" />
      </el-badge>
    </button>
  </el-popover>
</template>

<script>
import Vue from 'vue'
import ElBadge from 'element-ui/lib/badge'
import NoticeSimple from '@/micro/notice-simple'

export default Vue.extend({
  name: 'BaseHeaderDotPopover',
  components: {
    ElBadge,
    NoticeSimple
  },
  props: {
    icon: {
      type: String,
      default: 'el-icon-bell'
    }
  },
  data () {
    return {
      isDot: true
    }
  },
  mounted () {},
  methods: {
    onPopoverAfterEnter () {
      const ref = this.$refs.CNotice
      if (ref) {
        ref.activeName = 'system'
      }
    }
  }
})
</script>

<style lang="scss">
.base-header__dot-popover {
  padding: 8px;
  cursor: pointer;
  .el-icon-bell {
    font-size: 2em;
  }
  .el-badge {
    .el-badge__content.is-dot {
      top: 0.5em;
      right: 1em;
      width: 1em;
      height: 1em;
    }
  }
}
</style>
