
<template>
  <div class="base-header__search">
    <el-autocomplete
      v-model="searchValue"
      size="medium"
      class="inline-input"
      placeholder="Search.."
      suffix-icon="el-icon-search"
      :fetch-suggestions="querySearch"
      :trigger-on-focus="false"
      round
      @select="handleSelect"
    />
  </div>
</template>

<script>
import Vue from 'vue'
import ElAutocomplete from 'element-ui/lib/autocomplete'

export default Vue.extend({
  name: 'BaseHeaderSearch',
  components: {
    ElAutocomplete
  },
  data () {
    return {
      restaurants: [],
      searchValue: ''
    }
  },
  mounted () {},
  methods: {
    querySearch (queryString, cb) {
      var restaurants = this.restaurants
      var results = queryString ? restaurants.filter(this.createFilter(queryString)) : restaurants
      cb(results)
    },
    createFilter (queryString) {
      return (restaurant) => {
        return (restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0)
      }
    },
    handleSelect (item) {
      // console.log(item)
    }
  }
})
</script>

<style lang="scss" scoped>
</style>
