<template>
  <el-dropdown trigger="click" @command="handleCommand">
    <button class="base-header__user-menu">
      <el-avatar :class="[userAvatarColor]">
        {{ userName[0] }}
      </el-avatar>
      <span>{{ userName }}</span>
      <i class="el-icon-arrow-down" />
    </button>

    <el-dropdown-menu slot="dropdown">
      <el-dropdown-item icon="el-icon-switch-button" command="logout">
        登出
      </el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>
</template>

<script>
import Vue from 'vue'
import ElAvatar from 'element-ui/lib/avatar'

import { useCookies } from '@vueuse/integrations/useCookies'
import { COOKIE_NAME } from '@/static/cookie'

export default Vue.extend({
  name: 'BaseHeaderUserMenu',
  components: {
    ElAvatar
  },
  data () {
    return {
      COOKIE_NAME,
      cookies: useCookies([COOKIE_NAME.userEmail])
    }
  },
  computed: {
    userName () {
      const value = this.cookies.get(this.COOKIE_NAME.userEmail)
      return value.replace(/@(.*)/, '').substring(0, 10)
    },
    userAvatarColor () {
      const value = this.cookies.get(this.COOKIE_NAME.avatarColor)
      return 'bg-' + value
    }
  },
  mounted () {},
  methods: {
    handleCommand (key) {
      this[key]()
    },
    logout () {
      this.$router.push('/login')
    }
  }
})
</script>

<style lang="scss" scoped>
.base-header__user-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5em;
  .el-avatar {
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
  }
}
</style>
