<template>
  <el-card class="card-item" v-bind="$attrs">
    <template v-if="isLoading">
      <slot name="skeleton">
        <el-skeleton :rows="skeletonRows" animated />
      </slot>
    </template>

    <template v-else>
      <div class="flex j-bw">
        <h3 class="card-item__title">
          {{ title }}
        </h3>
        <slot name="action" />
      </div>
      <div class="card-item__content">
        <slot />
      </div>
    </template>
  </el-card>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  name: 'CardItem',
  components: {
  },
  inheritAttrs: false,
  props: {
    skeletonRows: {
      type: Number,
      default: 6
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    }
  },
  data () {
    return {}
  },
  mounted () {},
  methods: {}
})
</script>

<style lang="scss" scoped>
.card-item {
  &__title {
    font-size: 1.2em;
  }
}
</style>
