<template>
  <div class="dashboard">
    <el-row :gutter="20">
      <el-col :span="6">
        <CardItem shadow="always" title="今日幸運物">
          <span>{{ luckyThing.value }}</span>
        </CardItem>
      </el-col>
      <el-col :span="6">
        <CardItem shadow="always" title="今日好彩頭">
          <span>{{ luckyNumber.value }}</span>
        </CardItem>
      </el-col>
      <el-col :span="6">
        <CardItem shadow="always" title="年收入">
          NT <span>{{ formatIncome }}</span> / yeay
        </CardItem>
      </el-col>
      <el-col :span="6">
        <CardItem shadow="always" title="存款餘額">
          NT <span>{{ balance }}</span>
        </CardItem>
      </el-col>
    </el-row>
    <el-row>
      <TableWeather />
    </el-row>
  </div>
</template>

<script>
import CardItem from './CardItem.vue'
import TableWeather from './TableWeather.vue'

export default {
  name: 'Dashboard',
  components: {
    CardItem,
    TableWeather
  },
  data () {
    return {
      luckyThing: {
        data: [
          '黃金項鍊',
          '假牙',
          '十克拉鑽戒',
          '木瓜',
          '西瓜',
          '口罩',
          '拖鞋',
          '綠色物品',
          '紅色物品',
          '洗五次臉',
          '刷四次牙',
          '睡午覺'
        ],
        value: '',
        duration: 2 * 1000,
        elapsed: 0
      },
      luckyNumber: {
        value: '',
        duration: 5 * 1000,
        elapsed: 0,
        range: [0, 44],
        limit: 7,
        sp: [0, 8],
        count: 1,
        template: '%limit %limit %limit %limit %limit %limit [%sp]'
      },
      balance: 0,
      value: 0,
      NumberFormat: null,
      income: {
        start: 0,
        end: 2000000,
        duration: 3 * 1000
      }
    }
  },
  computed: {
    formatIncome () {
      return this.NumberFormat.format(this.income.start)
    }
  },
  beforeMount () {
    this.NumberFormat = new Intl.NumberFormat('en-US')
    const [incomeStart, incomeClose] = this.createAnimation(this.incomeAnimation)
    const [luckyThingStart, luckyThingClose] = this.createAnimation(this.luckyThingAnimation)
    const [luckyNumberStart, luckyNumberClose] = this.createAnimation(this.luckyNumberAnimation)

    incomeStart()
    luckyThingStart()
    luckyNumberStart()

    this.$once('hook:beforeDestroy', incomeClose)
    this.$once('hook:beforeDestroy', luckyThingClose)
    this.$once('hook:beforeDestroy', luckyNumberClose)
  },
  beforeDestroy () {
  },
  methods: {
    incomeAnimation (time, lastTime) {
      this.income.start += ~~(this.income.end / (this.income.duration / 1000 * 60))
      this.income.start += ~~Math.min(time - lastTime, this.income.end - this.income.start)
      if (this.income.start === this.income.end) {
        return true
      }
    },
    luckyNumberAnimation (time, lastTime) {
      const { duration, elapsed, limit, sp, range, value, count } = this.luckyNumber
      const random = (length) => ~~(Math.random() * length + 1)
      const index = elapsed > count * (~~(duration / limit)) ? count + 1 : count

      const tmp = value.split(' ')

      this.luckyNumber.elapsed += ~~Math.min(time - lastTime, duration - elapsed)

      tmp.splice(index, 1, random(range[1]))

      this.luckyNumber.value = tmp.join(' ')
      this.luckyNumber.count = Math.max(index, count)

      if (this.luckyNumber.elapsed >= duration) {
        tmp.splice(index, 1, random(sp[1]))
        const last = tmp.pop()
        this.luckyNumber.value = [...tmp, `[${last}]`].join(' ')
        return true
      }
    },
    luckyThingAnimation (time, lastTime) {
      const random = ~~(Math.random() * this.luckyThing.data.length)
      this.luckyThing.elapsed += ~~Math.min(time - lastTime, this.luckyThing.duration - this.luckyThing.elapsed)
      this.luckyThing.value = this.luckyThing.data[random]

      if (this.luckyThing.elapsed === this.luckyThing.duration) {
        return true
      }
    },
    createAnimation (callback) {
      let handle = null
      const close = () => {
        cancelAnimationFrame(handle)
        handle = null
      }
      const start = () => {
        let lastTime = performance.now()
        const update = () => {
          const time = performance.now()

          const stop = callback && callback(time, lastTime)

          if (stop) return close()
          lastTime = time
          handle = requestAnimationFrame(update)
        }
        update()
      }
      return [
        start,
        close
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/_variables.scss';
.dashboard {
  .el-row {
    margin-bottom: 20px;
  }
}
</style>
