<template>
  <CardItem shadow="always" title="今日天氣狀況">
    <template #action>
      <el-popover width="320" placement="bottom" trigger="click">
        <el-button slot="reference" class="select-city" type="text">
          選擇地區
          <i class="el-icon-arrow-down" />
        </el-button>
        <el-checkbox v-model="checkCityAll" @change="taggerCheckAll">
          全部
        </el-checkbox>
        <el-checkbox-group v-model="checkCity" @change="onChangeCity">
          <el-checkbox v-for="city in cityData" :key="city.CityID" :label="city.CityName">
            {{ city.CityName }}
          </el-checkbox>
        </el-checkbox-group>
      </el-popover>
    </template>
    <p class="font-regular">
      沒有業務情況下，真不知道該展示什麼資料，那就來看看今天天氣吧！此資料來源為政府天氣 api
    </p>
    <el-table
      :data="filterData"
      style="width: 100%;"
      height="400"
    >
      <el-table-column
        v-for="option in tableConfig"
        :key="option.prop"
        :prop="option.prop"
        :label="option.label"
        :width="option.width"
      >
        <template #default="{row}">
          <template v-if="option.prop === 'LocationName' ">
            {{ row[option.prop] }}
          </template>
          <template v-else>
            <ul>
              <li>
                {{ resolveWeatherText(row[option.prop].Wx, 'Wx') }}
              </li>
              <li>
                {{ resolveWeatherText(row[option.prop].MaxT, 'MaxT' ) }} ~ {{ resolveWeatherText(row[option.prop].MinT, 'MinT' ) }}
              </li>
              <li>
                {{ resolveWeatherText(row[option.prop].CI, 'CI' ) }}
              </li>
              <li>
                降雨機率 {{ resolveWeatherText(row[option.prop].PoP, 'PoP' ) }}
              </li>
            </ul>
          </template>
        </template>
      </el-table-column>
    </el-table>
  </CardItem>
</template>

<script>
import Vue from 'vue'
import ElTable from 'element-ui/lib/table'
import ElTableColumn from 'element-ui/lib/table-column'
import CardItem from './CardItem.vue'
import { cityData } from '@/static/tw-location'

export default Vue.extend({
  name: 'TableWeather',
  components: {
    ElTable,
    ElTableColumn,
    CardItem
  },
  data () {
    return {
      tableData: [],
      tableConfig: [
        {
          prop: 'LocationName',
          label: '地區',
          width: '100px'
        },
        {
          prop: 'EarlyMorning',
          label: '凌晨'
        },
        {
          prop: 'Daytime',
          label: '白天'
        },
        {
          prop: 'Night',
          label: '晚上'
        }
      ],
      checkCityAll: true,
      checkCity: [],
      cityData
    }
  },

  computed: {
    filterData () {
      return this.tableData.filter((item) => this.checkCity.includes(item.LocationName))
    }
  },
  async mounted () {
    this.taggerCheckAll(this.checkCityAll)
    await this.getApiData()
  },
  methods: {
    async getApiData () {
      try {
        const { data, status } = await this.$axios.get('https://opendata.cwb.gov.tw/api/v1/rest/datastore/F-C0032-001', {
          params: {
            Authorization: 'rdec-key-123-45678-011121314'
          }
        })
        if (status === 200) {
          this.tableData = this.resolveTableData(data.records.location)
        }
      } catch (e) {
        this.$message.error('獲取天氣資料失敗')
      }
    },
    resolveTableData (locations) {
      const data = []
      for (const location of locations) {
        const { locationName, weatherElement } = location
        data.push({
          LocationName: locationName,
          ...this.getWeather(weatherElement)
        })
      }
      // console.log(data)
      return data
    },
    getWeather (weatherElement) {
      const data = {
        EarlyMorning: {},
        Daytime: {},
        Night: {}
      }
      for (const item of weatherElement) {
        const { elementName, time } = item
        const [EarlyMorning, Daytime, Night] = time

        data.EarlyMorning[elementName] = EarlyMorning
        data.Daytime[elementName] = Daytime
        data.Night[elementName] = Night
      }
      return data
    },
    resolveWeatherText ({ parameter = {} }, key) {
      const { parameterName, parameterUnit } = parameter
      let text = ''
      switch (key) {
        case 'MinT':
        case 'MaxT':
          text = `${parameterName} ${parameterUnit}`
          break
        case 'Wx':
        case 'CI':
          text = parameterName
          break
        case 'PoP':
          text = parameterName + '%'
          break
        default:
          break
      }
      return text
    },
    onChangeCity (value) {
      if (value.length && (value.length === this.cityData.length)) {
        this.checkCityAll = true
      } else if (value.length) {
        this.checkCityAll = false
      }
    },
    taggerCheckAll (isChecked) {
      if (isChecked) {
        this.checkCity = this.cityData.map((item) => item.CityName)
      } else {
        this.checkCity = []
      }
    }
  }
})
</script>

<style lang="scss" scoped>
@import '~@/styles/_variables.scss';

.font-regular {
  font-size: 0.8em;
  color: $--color-text-regular;
  padding-top: 1em;
  padding-bottom: 1em;
}
</style>
