<template>
  <div class="login">
    <div class="login-main">
      <h1 class="font-logo logo">
        DEMO
      </h1>
      <el-card>
        <template #header>
          <h2 class="color-primary login-title">
            SIGN IN
          </h2>
        </template>

        <el-form ref="form" :model="form" :hide-required-asterisk="true">
          <el-form-item label="Email address" prop="email" :error="formStatus.email">
            <el-input v-model="form.email" type="email" placeholder="Enter your email" />
          </el-form-item>

          <el-form-item label="Password" prop="password" :error="formStatus.password">
            <el-input v-model="form.password" placeholder="Enter your password" type="password" />
          </el-form-item>

          <div class="flex j-bw a-c">
            <el-checkbox v-model="isRemember">
              Remember me
            </el-checkbox>
            <el-button type="text">
              忘記密碼?
            </el-button>
          </div>

          <div class="login-button-wrapper">
            <el-button type="primary" :disabled="isLockSubmit" @click="onSubmit">
              Log in
            </el-button>
          </div>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import ElForm from 'element-ui/lib/form'
import ElFormItem from 'element-ui/lib/form-item'
import ElInput from 'element-ui/lib/input'
import { pattern } from '@/utils/form-rule'
import { useCookies } from '@vueuse/integrations/useCookies'
import { COOKIE_NAME } from '@/static/cookie'
import { AVATAR_COLOR } from '@/static/avatar-color'

export default Vue.extend({
  name: 'Login',
  components: {
    ElForm,
    ElFormItem,
    ElInput
  },
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      isSubmit: false,
      isRemember: false,
      AVATAR_COLOR,
      COOKIE_NAME,
      cookies: useCookies(Object.values(COOKIE_NAME)),
      pattern: pattern
    }
  },
  computed: {
    isLockSubmit () {
      return Object.keys(this.form).some((key) => this.form[key] === '')
    },
    formStatus () {
      const rules = {
        email: this.pattern.email,
        password: /\w/g
      }
      const results = {}

      let everyPass = true

      Object.keys(rules).forEach((key) => {
        const result = rules[key].test(this.form[key])
        results[key] = result
        if (!result) {
          everyPass = false
        }
      })

      return {
        everyPass,
        email: (!results.email && this.isSubmit && '請輸入正確格式') || '',
        password: (!results.password && this.isSubmit) || ''
      }
    }
  },
  mounted () {
    const l = this.cookies.get(this.COOKIE_NAME.userEmail)
    if (l) {
      this.form.email = l || ''
      this.isRemember = true
    }
  },
  methods: {
    onSubmit () {
      this.isSubmit = true

      if (!this.formStatus.everyPass) return

      if (this.isRemember) {
        this.cookies.set(this.COOKIE_NAME.userEmail, this.form.email)
      } else {
        this.cookies.remove(this.COOKIE_NAME.userEmail)
      }

      const randomColor = AVATAR_COLOR[~~(Math.random() * AVATAR_COLOR.length)]

      this.cookies.set(this.COOKIE_NAME.avatarColor, randomColor)
      this.$router.push({ name: 'Dashboard' })
    }
  }
})
</script>

<style lang="scss" scoped>
@import '~@/styles/_variables.scss';
.login {
  padding: 5% 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: lighten($--color-primary, 35%);
  :deep .el-card__header {
    border-bottom-width: 3px;
    border-bottom-color: lighten($--color-primary, 10%);
  }
}
.logo {
  font-size: 5em;
  margin-bottom: 0.25em;
  text-align: center;
  color: $--color-primary;
}

.login-main {
  width: 100%;
  max-width: 30em;
  padding-bottom: 8%;
}
.login-title {
  font-weight: 500;
  text-align: center;
}
.el-checkbox {
  padding: 1em 0;
}
.login-button-wrapper {
  text-align: center;

  .el-button {
    width: 100%;
    margin: 1em 0;
  }
}
</style>
