<template>
  <div class="nav-aside" :class="[{'is-collapse': collapse}]">
    <nav-menu
      v-bind="elMenuProps"
      :default-active="defaultActive"
      :router="modeRouter"
      :menu="menu"
      :collapse="collapse"
    />
  </div>
</template>

<script>
import Vue from 'vue'
import NavMenu from './NavMenu.vue'
export default Vue.extend({
  name: 'NavAside',
  components: { NavMenu },
  props: {
    collapse: {
      type: Boolean,
      default: false
    },
    menu: {
      type: Array,
      default: () => []
    },
    modeRouter: {
      type: Boolean,
      default: false
    },
    defaultActive: {
      type: String,
      default: ''
    },
    elMenuProps: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {}
  },
  mounted () {},
  methods: {}
})
</script>

<style lang="scss">
@import '~@/styles/_variables.scss';
.nav-aside {
  display: flex;
  min-height: 100%;
  position: relative;
  flex-direction: column;
}
.nav-aside .nav-menu {
  flex: 1;
}
</style>
