<template>
  <el-submenu v-if="item.children" :popper-append-to-body="false" :index="resolveIndex">
    <template slot="title">
      <i v-if="item.icon" :class="item.icon" />
      <span slot="title">{{ item.title }}</span>
    </template>
    <NavMenuItem
      v-for="(children, i) in item.children"
      :key="i"
      :item="children"
      :index="(router && item.to?.name) || ++i + ''"
      :router="router"
    />
  </el-submenu>

  <el-menu-item v-else :route="item.to" :index="resolveIndex">
    <i v-if="item.icon" :class="item.icon" />
    <span slot="title">{{ item.title }}</span>
  </el-menu-item>
</template>

<script>
import Vue from 'vue'
import ElMenuItem from 'element-ui/lib/menu-item'
import ElSubmenu from 'element-ui/lib/submenu'
export default Vue.extend({
  name: 'NavMenuItem',
  components: {
    ElMenuItem,
    ElSubmenu
  },
  props: {
    index: {
      type: String,
      default: ''
    },
    router: {
      type: Boolean,
      default: false
    },
    item: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {}
  },
  computed: {
    resolveIndex () {
      return (this.router && this.item.to?.name) || this.index
    }
  },
  mounted () {},
  methods: {}
})
</script>

<style lang="scss" scoped>
</style>
