<template>
  <el-menu
    class="nav-menu"
    v-bind="$attrs"
    @open="handleOpen"
    @close="handleClose"
  >
    <NavMenuItem
      v-for="(item, i) in menu"
      :key="i"
      :item="item"
      :index="++i + ''"
      :router="$attrs.router"
    />
  </el-menu>
</template>

<script>
import Vue from 'vue'
import ElMenu from 'element-ui/lib/menu'
import NavMenuItem from './NavMenuItem.vue'

export default Vue.extend({
  name: 'NavMenu',
  components: {
    ElMenu,
    NavMenuItem
  },
  props: {
    menu: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
    }
  },
  mounted () {
  },
  methods: {
    handleOpen (key, keyPath) {
      // console.log(key, keyPath)
    },
    handleClose (key, keyPath) {
      // console.log(key, keyPath)
    }
  }
})
</script>

<style lang="scss">
.nav-menu:not(.el-menu--collapse) {
    width: 200px;
}
</style>
