<template>
  <div id="app">
    <router-view v-if="$route.name === 'Login'" class="flex-1" />

    <BaseLayout v-else class="flex-1">
      <router-view />
    </BaseLayout>
  </div>
</template>

<script>
import Vue from 'vue'
import BaseLayout from '@/layouts/BaseLayout'
export default Vue.extend({
  components: {
    BaseLayout
  }
})
</script>

<style lang="scss">
#app {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}
</style>
