<template>
  <el-container class="base-layout">
    <el-aside width="auto" class="base-layout__aside">
      <NavAside
        :collapse="isCollapse"
        :menu="NavMenuConfig"
        :mode-router="true"
        default-active="Dashboard"
      />
    </el-aside>

    <el-container>
      <el-header height="auto">
        <base-header>
          <div class="base-layout__hb" :class="[{'is-collapse': isCollapse}]" @click="isCollapse = !isCollapse">
            <i class="base-layout__hb__icon el-icon-menu" />
          </div>
        </base-header>
      </el-header>

      <el-main>
        <slot />
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import Vue from 'vue'
import BaseHeader from '@/micro/base-header'
import ElContainer from 'element-ui/lib/container'
import ElAside from 'element-ui/lib/aside'
import ElHeader from 'element-ui/lib/header'
import ElMain from 'element-ui/lib/main'
import NavAside from '@/components/nav-aside'

import { NavMenuConfig } from '@/share/nav-menu'

export default Vue.extend({
  name: 'BaseLayout',
  components: {
    BaseHeader,
    ElContainer,
    ElHeader,
    ElAside,
    ElMain,
    NavAside
  },
  data () {
    return {
      isCollapse: false,
      NavMenuConfig
    }
  },
  mounted () {},
  methods: {}
})
</script>

<style lang="scss">
@import '~@/styles/_variables.scss';

.base-layout {
  background-color: $--background-color-base;
  max-width: 1440px;
  border-right: 1px solid $--border-color-light;
  border-left: 1px solid $--border-color-light;

  .el-header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .base-layout__aside {
    overflow: visible;
  }
}
.base-layout__hb {
  cursor: pointer;
  padding: 8px;
  margin-right: 10px;
  border-radius: 50px;
  transition: $--color-transition-base;
  &:hover {
    color: $--color-primary;
  }
  &:not(.is-collapse) {
    color: $--color-primary;
  }
  &.is-collapse &__icon {
    transform: rotate(-90deg);
  }
  &__icon {
    font-size: 1.5em;
    transition: $--md-fade-transition;
    transform: rotate(45deg);
  };
}
</style>
