<template>
  <div class="notice-simple__item">
    <div class="notice-simple__item__header">
      <el-checkbox v-model="checked" class="notice-simple__item__title">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ea magni ratione, animi quaerat corporis nobis expedita consectetur vero iusto fugit velit facilis repellat nemo, libero distinctio, quos asperiores praesentium.
      </el-checkbox>
      <div class="tool flex-1">
        <i class="el-icon-delete-solid" />
      </div>
    </div>

    <p class="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ea magni ratione, animi quaerat corporis nobis expedita consectetur vero iusto fugit velit facilis repellat nemo, libero distinctio, quos asperiores praesentium.
    </p>
    <div class="date">
      {{ date }}
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
export default Vue.extend({
  name: 'NoticeSimpleItem',
  components: {
  },
  data () {
    return {
      activeName: 'first',
      checked: false,
      date: ''
    }
  },
  mounted () {
    this.date = new Date().toLocaleString([], { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric' })
  },
  methods: {
    handleClick (...ags) {
      // console.log(ags)
    }
  }
})
</script>

<style lang="scss">
@import '~@/styles/_variables.scss';

.notice-simple__item {
  &__header {
    display: flex;
    gap: 1em;
  }
  &__title.el-checkbox {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    .el-checkbox__label {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 0.8em;
  }
  .tool {
    width: 2em;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    i {
      cursor: pointer;
      font-size: 1.2em;
      &:hover {
        color: $--color-primary;
      }
    }
  }
  .date {
    font-size: 0.8em;
  }
}
</style>
