<template>
  <div class="notice-simple">
    <div class="notice-simple__header flex j-bw a-i-c">
      <h3>消息中心</h3>
      <el-button plain size="mini" type="primary">
        標記為已讀
      </el-button>
    </div>
    <el-tabs
      v-model="activeName"
      stretch
      @tab-click="handleClick"
    >
      <el-tab-pane
        v-for="tab in tabs"
        :key="tab.pane"
        :name="tab.pane"
        :label="tab.label"
        lazy
      >
        <NoticeSimpleItem v-for="item in tab.notices" :key="item.id" />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import Vue from 'vue'
import ElTabs from 'element-ui/lib/tabs'
import ElTabPane from 'element-ui/lib/tab-pane'
import NoticeSimpleItem from './NoticeSimpleItem.vue'

export default Vue.extend({
  name: 'NoticeSimple',
  components: {
    ElTabs,
    ElTabPane,
    NoticeSimpleItem
  },
  data () {
    return {
      activeName: '',
      tabs: [
        {
          pane: 'system',
          label: '系統通知',
          notices: [
            {
              id: 1,
              title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ea magni ratione, animi quaerat corporis nobis expe',
              content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ea magni ratione, animi quaerat corporis nobis expedita consectetur vero iusto fugit velit facilis repellat nemo, libero distinctio, quos asperiores praesentium.',
              data: new Date().toLocaleString([], { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric' }),
              isRead: false
            },
            {
              id: 2,
              title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ea magni ratione, animi quaerat corporis nobis expe',
              content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ea magni ratione, animi quaerat corporis nobis expedita consectetur vero iusto fugit velit facilis repellat nemo, libero distinctio, quos asperiores praesentium.',
              data: new Date().toLocaleString([], { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric' }),
              isRead: false
            }
          ]
        },
        {
          pane: 'announcement',
          label: '公告',
          notices: [
            {
              id: 3,
              title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ea magni ratione, animi quaerat corporis nobis expe',
              content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ea magni ratione, animi quaerat corporis nobis expedita consectetur vero iusto fugit velit facilis repellat nemo, libero distinctio, quos asperiores praesentium.',
              data: new Date().toLocaleString([], { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric' }),
              isRead: false
            },
            {
              id: 4,
              title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ea magni ratione, animi quaerat corporis nobis expe',
              content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ea magni ratione, animi quaerat corporis nobis expedita consectetur vero iusto fugit velit facilis repellat nemo, libero distinctio, quos asperiores praesentium.',
              data: new Date().toLocaleString([], { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric' }),
              isRead: false
            }
          ]
        }

      ]
    }
  },
  mounted () {
  },
  methods: {
    handleClick (...ags) {
      // console.log(ags)
    }
  }
})
</script>

<style lang="scss" scoped>
.notice-simple {
  width: 30em;
  &__header {
    padding-bottom: 1em;
  }
  .notice-simple__item + .notice-simple__item {
    margin-top: 1em;
  }
}
</style>
